*.iml
.gradle
/Instalacion_androidSDK.txt
/Instalaciones.txt
/Instalaciones.txt.bak
/SKILL.md
/MEJORAS_CICLO_01.md
/settings.gradle.kts
/dasomaps_ciclo_01.md
/dasomaps_ciclo_01.docx
/EsquemaDeFasesDelProyecto.md
/GUIA_MBTILES.md
/CHECKLIST.md
/FASE3_COMPLETADA.md
/INICIO_RAPIDO.md
/FASE2_COMPLETADA.md
/FASE1_COMPLETADA.md
/test_claude.txt
/EsquemaDeFasesDelProyecto.docx
/EsquemaDeFasesDelProyecto.txt
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
